.img{
margin: 0 0 0 1600px;

}
.imgq{
margin:100 0 0 600px ;


}


.divgl{



}
.img1{
margin: 150 0 0 600px;

}
}
.img2{
margin: 300 0 0 600px;
    
}
}
.img3{
margin: 300 0 0 600px;
    
}





